<html>
  <head>
    <title>AP scripts</title>
    <script src="formActions.js"></script>

    <style>
      html, body {
        font-family: Verdana,sans-serif;
            font-size: 15px;
            line-height: 1.5;
      }
    </style>
  </head>

  <body>
  <%= yield %>
  </body>
</html>
